<div class="card" style="width: 20rem;">
  <div class="img-container">
    <img class="card-img-top rounded" src="{{collegue.urlImage}}" alt="Card image cap">
  </div>
  <div class="card-body">
    <h4 class="card-title" #container>{{collegue.nom | uppercase:container}}</h4>
    <p class="card-text" innerHtml="{{collegue.score | score}}"></p>
    <button type="button" (click)="jaime()" class="btn btn-outline-success">J'aime</button>
    <button type="button" (click)="jedeteste()" class="btn btn-outline-danger">Je déteste</button>
  </div>
</div>
