<div class="container">
  <div class="row" id="header">
    <div class="col-md-12">
      <h1>Top Collègues</h1>
      <p>Les meilleurs collègues du moment</p>
    </div>
    <div class="col-md-12">
      <form>
        <div class="form-group row">
          <label for="pseudo" class="col-md-2 col-form-label">Pseudo</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Pseudo" id="pseudo" #pseudo>
          </div>
        </div>
        <div class="form-group row">
          <label for="urlImage" class="col-md-2 col-form-label">Url image</label>
          <div class="col-md-10">
            <input type="url" class="form-control" placeholder="url image" id="urlImage" #imageUrl>
          </div>
        </div>
        <button class="btn btn-primary" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
      </form>
    </div>
  </div>
  <div class="alert alert-success" role="alert" [hidden]="displayAlert">
  Collègue ajouté!
</div>
<div class="row">
  <app-un-collegue *ngFor="let col of this.collegues" [collegue]="col"></app-un-collegue>
</div>
</div>
