#header{
  background-color:#e6e6e6;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

ul
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.input-group
{
  margin-bottom: 20px;
}
.carousel-item-next.carousel-item-prev.carousel-item.active{
  text-align: center;
}
